@using Mariage.Models
@model ContactModel
@{
    ViewBag.Title = "Perrine et Gabriel - 11 Mai 2013 - Contact";
}
<h2>Nous contacter</h2>
<p>@Model.ConfirmMessage</p>
@{ Html.EnableClientValidation(); }
@using (Html.BeginForm("Contact", "Mariage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(false)
    <div class="editor-label">@Html.LabelFor(m =>m.Email)</div>
    <div class="editor-field">@Html.EditorFor(m =>m.Email)</div>
    <div class="editor-label">@Html.LabelFor(m => m.Sujet)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Sujet)</div>
    <div class="editor-label">@Html.LabelFor(m => m.Files)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Files, "FileName")</div>
    <div class="editor-label">@Html.LabelFor(m => m.Message)</div>
    <div class="editor-field">@Html.TextAreaFor(m => m.Message)</div>
    <p><input type="submit" value="Envoyer" /></p>
}
@if (BaseModel.Private)
{
    
}